.Post {
  width: 500px;
  position: relative;
  margin: 0 auto;
  display: block;

  &-item {
    height: auto;
    background-color: #fff;
    border: 1px solid #dadade;
    border-radius: 5px;
    padding: 10px 15px;

    &__header {
      height: 40px;
      display: flex;
      align-items: center;
      padding: 10px 0;

      .User-picture {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 10px;
        overflow: hidden;

        img {
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
        }
      }

      .Title-post {
        color: #385898;
        cursor: pointer;
        text-decoration: none;
      }
    }

    &__content {
      margin-top: 10px;
      font-size: 12px;
      text-align: left;
    }

    &__comments {
      position: relative;

      .Comment-lists {
        display: flex;
        flex-direction: column;

        .Comment-item {
          width: 100%;
          margin-bottom: 10px;
          display: flex;
          flex-wrap: wrap;
          padding: 10px 0;

          &__user-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            margin-right: 10px;
            overflow: hidden;
            display: inline-block;
            float: left;
    
            img {
              width: auto;
              height: auto;
              min-width: 100%;
              min-height: 100%;
            }
          }

          &__message {
            text-align: left;
            font-size: 12px;
            background-color: #f2f3f5;
            border-radius: 18px;
            box-sizing: border-box;
            color: #1c1e21;
            line-height: 16px;
            margin: 0;
            max-width: 100%;
            word-wrap: break-word;
            position: relative;
            white-space: normal;
            word-break: break-word;
            padding: 10px;
            /* width: 100%; */
            /* flex: 4; */
            flex-basis: 80%;

            .Username {
              color: #385898;
              cursor: pointer;
              text-decoration: none;
              font-weight: bold;
              float: left;
            }

            .Message {
              float: left;
            }
          }

          &__btn-action {
            display: inline-block;
            flex-basis: 100%;
            text-align: left;
            margin-left: 65px;

            .Reply-btn {
              color: #90949c;
              display: inline-block;
              font-size: 12px;
              line-height: 12px;
              cursor: pointer;
            }
          }

          &__reply {
            width: 82%;
            position: relative;
            margin-left: 50px;
            
            .Comment-reply {
              &__lists {
                display: flex;
                flex-direction: column;
              }

              &__item {
                width: 100%;
                margin-bottom: 10px;
                display: flex;
                padding: 10px 0;
              }

              &__user-picture {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #fff;
                margin-right: 10px;
                overflow: hidden;
                display: inline-block;
        
                img {
                  width: auto;
                  height: auto;
                  min-width: 100%;
                  min-height: 100%;
                }
              }

              &__message {
                width: 100%;
                text-align: left;
                font-size: 12px;
                background-color: #f2f3f5;
                border-radius: 18px;
                box-sizing: border-box;
                color: #1c1e21;
                line-height: 16px;
                margin: 0;
                max-width: 100%;
                word-wrap: break-word;
                position: relative;
                white-space: normal;
                word-break: break-word;
                padding: 10px;
    
                .Username {
                  color: #385898;
                  cursor: pointer;
                  text-decoration: none;
                  font-weight: bold;
                  float: left;
                }
    
                .Message {
                  float: left;
                }
              }

              &__form {
                display: flex;

                .Comment-form {
                  &__user-picture {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #fff;
                    margin-right: 10px;
                    overflow: hidden;
                    display: inline-block;
            
                    img {
                      width: auto;
                      height: auto;
                      min-width: 100%;
                      min-height: 100%;
                    }
                  }

                  &__input {
                    width: 100%;
                    background-color: #f2f3f5;
                    border: 1px solid #ccd0d5;
                    border-radius: 16px;
                    display: flex;
                    justify-content: flex-end;
                    padding: 5px 15px;
                    font-size: 12px;

                    &:focus {
                      outline: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}